<h1>{{ title }}</h1> 
<div> 
   The summation of numbers ( <span *ngFor="let num of numbers"> {{ num }} </span> ) is {{ val1 }} 
</div> 
<div> 
   The summation of filtered numbers ( <span *ngFor="let num of filteredNumbers"> {{ num }} </span> ) is {{ val2 }} 
</div> 
<div> 
   The summation of processed numbers ( <span *ngFor="let num of processedNumbers"> {{ num }} </span> ) is {{ val3 }} 
</div> 
<div> 
   The response from the API is <em>{{ apiMessage }}</em> </div> 
<div> 
   <a id="counter" href="#">Click here</a> to increment the counter value. The current counter value is {{ counter }} 
<div>
   <div class="container">
      <h1 class="heading"><strong>Services </strong>Demo</h1>
   
      <button type="button" (click)="getProducts()">Get Products</button>
   
         <div class='table-responsive'>
               <table class='table'>
                  <thead>
                  <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                     </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let product of products;">
                        <td>{{product.productID}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                     </tr>
                  </tbody>
            </table>
         </div>
   
</div>
   